@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer components {
  .btn{
    text-transform: none;
  }
}

.content-container {
  min-height: calc(100vh - theme('height.16'));
} */

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  @apply bg-white;
  @apply dark:bg-gray-900/60;
}

.dark {
  color-scheme: dark;
}